<template>
  <button type="button" class="btn btn-danger my-auto" @click="modal = !modal">
    Delete
  </button>
  <div class="modal-mask" v-if="modal">
    <div>
      <div class="modal-container">
        <div class="modal-header">
          <slot name="header"> Delete car </slot>
        </div>

        <div class="modal-body">
          <p class="text-left">
            Are you sure you want to delete this car? You will not be able to
            recover it.
          </p>
        </div>

        <div class="modal-footer">
          <slot name="footer">
            <div class="d-flex text-center">
              <button type="button" class="btn btn-danger" @click="initDelete">
                Yes
              </button>
              <button
                type="button"
                class="btn btn-primary mx-2"
                @click="modal = !modal"
              >
                Cancel
              </button>
            </div>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "DeleteModal",

  props: {
    id: {
      required: true,
      type: Number,
    },
  },

  data() {
    return {
      modal: false,
    };
  },

  methods: {
    ...mapActions({
      deleteCar: "cars/deleteCar",
    }),
    initDelete() {
      this.deleteCar(this.id);
      this.modal = !this.modal;
    },
  },
};
</script>
