<template>
  <button type="button" class="btn btn-info my-auto" @click="modal = !modal">
    View
  </button>
  <div class="modal-mask" v-if="modal">
    <div>
      <div class="modal-container">
        <div class="modal-header">
          <slot name="header"> View car </slot>
        </div>

        <div class="modal-body">
          <p class="text-left">Name: {{ car.name }}</p>
          <p class="text-left">Type: {{ car.type }}</p>
          <p class="text-left">Model: {{ car.model }}</p>
          <p class="text-left">Description: {{ car.description }}</p>
          <p class="text-left">Distributor: {{ car.distributor }}</p>
        </div>

        <div class="modal-footer">
          <slot name="footer">
            <div class="d-flex text-center">
              <button
                type="button"
                class="btn btn-primary"
                @click="modal = !modal"
              >
                Close
              </button>
            </div>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ViewCarModal",

  props: {
    car: {
      required: true,
      type: Object,
    },
  },

  data() {
    return {
      modal: false,
    };
  },
};
</script>
