<template>
  <div class="p-3 my-5 text-center">
    <div class="d-inline-flex justify-content-between my-2 w-75">
      <h1>Management</h1>
      <router-link :to="{ name: 'manage.cars' }" class="btn btn-success btn-lg">
        Add new car
      </router-link>
    </div>

    <table-of-contents />
  </div>
</template>

<script>
// @ is an alias to /src
import table from "@/components/Table.vue";

export default {
  name: "Management",
  components: {
    "table-of-contents": table,
  },
};
</script>
