<template>
  <div class="large-bordered-box border border-success rounded my-5">
    <h1>{{ !isId() ? "Add New Car" : "Edit car with id: " + id }}</h1>
    <form @submit.prevent="saveData" class="large-bordered-box">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          required
          class="form-control"
          type="text"
          name="name"
          id="name"
          v-model="car.name"
          placeholder="name"
        />
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <input
          required
          class="form-control"
          type="text"
          name="type"
          id="type"
          v-model="car.type"
          placeholder="type"
        />
      </div>
      <div class="form-group">
        <label for="model">Model:</label>
        <input
          required
          class="form-control"
          type="text"
          name="model"
          id="model"
          v-model="car.model"
          placeholder="model"
        />
      </div>
      <div class="form-group">
        <label for="distributor">Distributor:</label>
        <input
          required
          class="form-control"
          type="text"
          name="distributor"
          id="distributor"
          v-model="car.distributor"
          placeholder="distributor"
        />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input
          required
          class="form-control"
          type="text"
          name="description"
          id="description"
          v-model="car.description"
          placeholder="description"
        />
      </div>
      <div class="w-100 my-3 d-flex justify-content-end text-right">
        <router-link :to="{ name: 'management' }" class="btn btn-info btn-md">
          Cancel
        </router-link>
        <button class="btn btn-success btn-md mx-2">Save</button>
      </div>
    </form>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
export default {
  name: "ManageCars",

  props: {
    id: {
      required: false,
      type: Number,
      default: -1,
    },
  },

  data() {
    return {
      car: {
        name: "",
        type: "",
        model: "",
        description: "",
        distributor: "",
      },
    };
  },

  computed: {
    ...mapState({
      cars: (state) => state.cars.data,
    }),
  },

  mounted() {
    this.preloadForEdit();
  },

  methods: {
    ...mapActions({
      addNew: "cars/addCar",
      editCar: "cars/editCar",
    }),
    saveData() {
      this.isId() ? this.editCar(this.car) : this.addNew(this.car);
      this.$router.push({ name: "management" });
    },
    preloadForEdit() {
      if (this.isId()) {
        const carIndex = this.cars.findIndex(
          (item) => item.id === parseInt(this.id)
        );
        this.car = this.cars[carIndex];
      }
    },
    isId() {
      return this.id !== -1;
    },
  },
};
</script>
