<template>
  <div class="row">
    <!-- Sidebar -->
    <viewer-sidebar />
    <div class="col-8 p-5">
      <div
        class="
          jumbotron jumbotron-fluid
          bg-success
          text-white text-center
          w-100
          mx-auto
          my-auto
        "
      >
        <router-view v-if="$route.meta.specificLayout" />
        <viewer-home v-else />
      </div>
    </div>
  </div>
</template>

<script>
import ViewerSidebar from "@/components/ViewerSidebar";
import ViewerHome from "../components/ViewerHome";
export default {
  name: "Viewer",
  components: {
    ViewerSidebar,
    ViewerHome,
  },
};
</script>
