<template>
  <div class="large-bordered-box border border-success rounded my-5">
    <div
      class="
        jumbotron jumbotron-fluid
        bg-success
        text-white text-center
        w-75
        mx-auto
        my-auto
      "
    >
      <h1 class="display-4">Welcome to my Project</h1>
      <p class="lead">
        This is a test project for showing personal know-how. Please Enjoy!
      </p>
      <hr class="my-4" />
      <p>It uses Vuex, VueRouter, Vue.js, SCSS & Bootstrap.</p>
    </div>
  </div>
</template>
<script>
export default {
  name: "MainHome",
};
</script>
