<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container justify-content-between">
      <div class="navbar-header mx-auto">
        <router-link class="navbar-brand" :to="{ name: 'home' }">
          <img
            class="img-fluid w-25"
            src="../assets/images/logo.png"
            alt="Brand"
          />
        </router-link>
      </div>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarTogglerDemo03"
      >
        <ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item mx-2">
            <router-link class="btn btn-light" :to="{ name: 'management' }">
              Management
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="btn btn-light" :to="{ name: 'viewer' }">
              Viewer
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
};
</script>
