<template>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Model</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="cars.length <= 0">
        <td colspan="5">No data yet</td>
      </tr>
      <tr v-else v-for="car in cars" :key="car.id">
        <th scope="row">{{ car.id }}</th>
        <th>{{ car.name }}</th>
        <th>{{ car.model }}</th>
        <th>{{ car.type }}</th>
        <th class="w-25">
          <div class="p-2 d-flex">
            <view-car :car="car" />
            <router-link
              :to="{ name: 'manage.cars', params: { id: car.id } }"
              class="btn btn-warning m-auto"
            >
              Edit
            </router-link>
            <delete-car :id="car.id" />
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</template>
<script>
import { mapState } from "vuex";
// modal components
import ViewCar from "./helpers/ViewCar.vue";
import DeleteCar from "./helpers/DeleteCar.vue";
export default {
  name: "Table",

  computed: {
    ...mapState({
      cars: (state) => state.cars.data,
    }),
  },
  components: {
    ViewCar,
    DeleteCar,
  },
};
</script>
