<template>
  <h1 class="mt-3">Viewer vw</h1>
  <p class="lead my-5">This is VW Passat</p>
  <figure class="w-100 h-100">
    <img
      class="img-fluid rounded"
      src="https://cdn.volkswagen.ro/media/Abstract_Image_B1920_Component.Box_Stage_Fullscreen_Item_Media_Image_Image_Component/10665-stage-82012-media-child-image-b1920/dh-1995-ef522c/a0d65e31/1626847330/passat-pa4245-v1.jpg"
      alt="vw"
    />
  </figure>
</template>
<script>
export default {
  name: "ViewerVW",
};
</script>
