<template>
  <h1 class="mt-3">Viewer audi</h1>
  <p class="lead my-5">This is Audi A6 all-road</p>
  <figure class="w-100 h-100">
    <img
      class="img-fluid rounded"
      src="https://cdn.audi.ro/media/Theme_Banners_Banner_Image_Component/9894-banner-36689-image/dh-1324-918e09/f691730d/1627888738/1920-1080-aa6-181015.jpg"
      alt="audi"
    />
  </figure>
</template>
<script>
export default {
  name: "ViewerAudi",
};
</script>
