<template>
  <div class="col-4 p-5">
    <div class="my-3 row h-auto p-5 border border-success rounded">
      <div class="col-12 mx-auto">
        <router-link
          :to="{ name: 'viewer.vw' }"
          class="btn btn-lg btn-info w-100"
        >
          Viewer Vw
        </router-link>
      </div>
      <div class="col-12 my-5 mx-auto">
        <router-link
          :to="{ name: 'viewer.audi' }"
          class="btn btn-lg btn-info w-100"
        >
          Viewer Audi
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ViewerSidebar",
};
</script>
