<template>
  <navbar />
  <main class="container">
    <router-view />
  </main>
</template>

<script>
import Navbar from "@/components/Navbar.vue";

export default {
  name: "App",
  components: {
    Navbar,
  },
};
</script>
